.autocompleteList {
    background-color: white;
    pointer-events: all;
    margin: 0.5rem 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
}

.autocompleteItem:not(:last-child) {
    border-bottom: 1px lightgray solid;
}

.selectableItem {
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    overflow: hidden;
}

.highlightedItem,
.selectableItem:hover {
    background-color: #ececec;
}

.selectableItem:active {
    background-color: #c6c6c6;
}

.currentLocationEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0.5rem;
}

.geocodingEntry {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0.5rem 0.5rem;
}

.mainText {
    font-weight: bold;
}
