.container {
    position: relative;
}

.btnClose {
    display: none;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 0;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #5b616a;
    border-radius: 0.2rem;
    -webkit-appearance: none;
}

.popup {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    background: white;
    z-index: 1000;
    border: solid 1px lightgray;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
}

@media (max-width: 44rem) {
    .fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: white;
        z-index: 5;
        padding: 0.5rem;
    }

    .fullscreen .inputContainer {
        grid-gap: 0.5rem;
    }

    .fullscreen .btnClose {
        display: flex;
        align-self: stretch;
        justify-self: stretch;
        align-items: center;
    }

    .fullscreen .popup {
        position: static;
        box-shadow: none;
        border: none;
    }
}
