.autocompleteItem:not(:last-child) {
    border-bottom: 1px lightgray solid;
}

@media (max-width: 44rem) {
    .autocompleteItem:first-child {
        border-top: 1px lightgray solid;
    }
}

.selectableItem {
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    overflow: hidden;
}

.highlightedItem,
.selectableItem:hover {
    background-color: #ececec;
}

.selectableItem:active {
    background-color: #c6c6c6;
}

.currentLocationEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem 0.5rem;
}

.currentLocationIcon {
    width: 1.2rem;
}

.currentLocationIcon > svg {
    height: 100%;
    width: 100%;
}

.moreResultsEntry {
    padding: 0.5em 0em;
}

.geocodingEntry {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0.4rem 0.5rem;
}

.mainText {
    font-weight: bold;
}

.moreResultsText,
.secondaryText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: small;
    color: #5b616a;
}
