.geocodingListItem:not(:last-child) {
    border-bottom: 1px lightgray solid;
}

.selectableGeocodingEntry {
    display: block;
    width: 100%;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
    overflow: hidden;
}

.highlightedGeocodingEntry,
.selectableGeocodingEntry:hover {
    background-color: #ececec;
}

.selectableGeocodingEntry:active {
    background-color: #c6c6c6;
}

.currentLocationEntry {
    display: flex;
    flex-direction: row;
    text-align: start;
    margin: 0.5rem 0.5rem;
}

.currentLocationIcon {
    padding-right: 0.2em;
}

.currentLocationHide {
    display: none;
}

.geocodingEntry {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0.5rem 0.5rem;
}

.geocodingEntryMain {
    font-weight: bold;
}
