.searchBoxParent {
    margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}

.searchBox {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 0.5rem;
    margin: 0.5rem 0.1rem 0.7rem 0;
}

.searchBoxScrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.searchBoxInput {
    grid-column: 2 / span 2;
}

.removeSearchBox {
    grid-column: 4;
    width: 1rem;
    color: #adadad;
    justify-self: center;
}

.markerContainer {
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    width: 1rem;
}

.markerContainer > svg {
    height: 100%;
    width: 100%;
}

.searchOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.geocodingResults {
    grid-column: 1 / span 3;
}

.addSearchBox,
.settingsButton {
    font-size: 14px;
    color: gray;
}

.lastSearchLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2px;
}

.addSearchBox:hover path,
.infoButton:hover path {
    fill: black;
}

.infoButton:active path,
.addSearchBox:active path,
.markerTarget:active path {
    fill: lightgray;
}

.addSearchBox svg {
    width: 18px;
    height: 18px;
}

.addSearchBox svg {
    color: #adadad;
    padding: 0 1.25em 0 0;
}

.addSearchBox {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.infoButton svg {
    fill: #adadad;
}

.markerContainer:hover svg {
    fill: black !important;
}

.markerContainer,
.markerSelected,
.markerTarget {
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    width: 1rem;
}

.markerContainer {
    outline: none;
}

.markerTarget:hover svg {
    fill: black;
}

.markerContainer > svg,
.markerTarget > svg {
    height: 100%;
    width: 100%;
}

.markerSelected {
    margin-left: -4px;
}

.markerTarget > svg {
    transform: scaleX(1.7) scaleY(1.5);
    margin-left: 3px;
    fill: gray;
}

.dropPreview > svg {
    fill: black;
}

.hide {
    visibility: hidden;
}
