.searchBox {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 0.5rem;
    margin: 0.5rem;
}

.searchBoxScrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.searchBoxInput {
    grid-column: 2 / span 2;
}

.removeSearchBox {
    grid-column: 4;
    width: 0.8rem;
    justify-self: center;
}

.removeSearchBox svg {
    display: block;
}

.addSearchBox {
    grid-column: 1 / span 2;
    justify-self: start;
    align-items: center;
    display: grid;
    grid-template-columns: 1rem auto;
    grid-column-gap: 0.3rem;
}

.addSearchBox svg {
    width: 100%;
    max-height: 1rem; /* this fixes big buttons on older ios devices */
}

.markerContainer {
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    width: 0.8rem;

}

.markerContainer > svg {
    width: 100%;
    height: 100%;
    display: block;
}

.searchOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
}

.addDestination {
    align-self: flex-end;
    width: 2rem;
    height: 2rem;
}

.geocodingResults {
    grid-column: 1 / span 3;
}
