.bottomSheetDrag {
    cursor: grabbing !important;
    transition: none !important;

    height: 40px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomSheet {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottomSheet {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
}
