.customModelBox {
    padding: 0.3em;
    border-bottom: lightgray solid 1px;
    border-top: lightgray solid 1px;
    height: 18rem;
}

#element::-webkit-scrollbar {
    display: none;
}

.customModelBoxBottomBar {
    display: flex;
}

.helpLink {
    text-decoration: none;
    flex-grow: 1;
}

.enabledSettings svg path,
.settings svg path,
.helpLink svg path,
.applyButton svg path {
    fill: #5b616a;
    stroke: #5b616a;
}

.settings:hover svg path,
.enabledSettings:hover svg path,
.helpLink:hover svg path,
.applyButton:hover svg path {
    fill: #000000;
    stroke: #000000;
}

.settings:active svg path,
.enabledSettings:active svg path,
.helpLink:active svg path,
.applyButtonProgress svg path,
.applyButtonProgress:hover svg path,
.applyButtonInvalid svg path,
.applyButtonInvalid:hover svg path,
.applyButton:active button svg path {
    fill: lightgray;
    stroke: lightgray;
}

.enabledSettings svg,
.settings svg,
.customModelBoxBottomBar svg {
    margin: 0;
    padding: 0;
    width: 20px;
    height: auto;
}

.settings svg {
    animation-name: reverse_rotate;
    animation-duration: 0.2s;
}

.enabledSettings svg {
    animation-name: setting_rotate;
    animation-duration: 0.2s;
}

@keyframes setting_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(120deg);
    }
}

@keyframes reverse_rotate {
    0% {
        transform: rotate(120deg);
    }
    100% {
        transform: rotate(0);
    }
}

.enabledSettings,
.settings {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: -40px 0 0 calc(100% - 20px - 1em);
    padding: 0;
}

/* the negative top margin of the previous element and this space is required because we want to horizontally align
 the settings and add-location button which are part of two different components.
*/
.spacer {
    padding: 5px;
}

.examples,
.helpLink div,
.applyButton button div {
    font-family: Arial, serif;
    font-size: 14px;
}

.examples {
    border: none;
    border-bottom: #ececec solid 1px;
    border-right: #ececec solid 1px;
    padding-left: 0.4em;
    margin-left: 0;
    background-color: white;
    color: rgba(0, 60, 136, 0.7);
}

.examples option {
    background-color: white;
    color: rgba(0, 60, 136, 0.7);
}

.applyButtonInvalid,
.applyButtonInvalid:active {
    background-color: #ff7f7f;
}

/* show disabled button while route calculation */
.applyButtonProgress button,
.applyButtonInvalid button {
    cursor: default !important;
    color: lightgray !important;
}

.infiniteProgressBar {
    animation: progress 4s infinite normal;
    height: 1px;
    background-color: #275dad;
    margin: 0;
    padding: 0;
}

@keyframes progress {
    0% {
        width: 0;
        margin-left: 0;
    }
    /* why will more than 91% trigger scrollbar? */
    50% {
        width: 90%;
        margin-left: 0;
    }
    100% {
        width: 0;
        margin-left: 90%;
    }
}

.helpLink:hover {
    color: black;
}

.helpLink,
.examples,
.applyButton {
    cursor: pointer;
    color: #5b616a;
}

.helpLink,
.applyButton button {
    padding: 0.5em 0.7em;
    display: flex;
}

.helpLink div,
.applyButton button div {
    flex-flow: column;
}

.helpLink div,
.applyButton div {
    padding: 0.1em 0 0 0.5em;
}
