.customModelBox {
    padding: 0.3em;
    border-top: lightgray solid 1px;
    height: 18rem;
}

#element::-webkit-scrollbar {
    display: none;
}

.customModelBoxBottomBar {
    display: flex;
    border-bottom: lightgray solid 1px;
}

.helpLink {
    text-decoration: none;
    flex-grow: 1;
}

.enabledSettings svg path,
.settings svg path {
    fill: #5b616a;
    stroke: #5b616a;
}

.enabledSettings:active svg path,
.settings:active svg path {
    fill: lightgray;
    stroke: lightgray;
}

.settings:hover svg path,
.enabledSettings:hover svg path {
    fill: #000000;
    stroke: #000000;
}

.settings:active svg path,
.enabledSettings:active svg path {
    fill: lightgray;
    stroke: lightgray;
}

.enabledSettings svg,
.settings svg {
    margin: 0;
    padding: 0;
    width: 20px;
    height: auto;
}

.settings svg {
    transform: rotate(0);
    animation-name: reverse_rotate;
    animation-duration: 0.2s;
}

.enabledSettings svg {
    transform: rotate(180deg);
    animation-name: setting_rotate;
    animation-duration: 0.2s;
}

@keyframes setting_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes reverse_rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}

.enabledSettings,
.settings {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: -40px 0 0 calc(100% - 20px - 1em);
    padding: 0;
}

/* the negative top margin of the previous element and this space is required because we want to horizontally align
 the settings and add-location button which are part of two different components.
*/
.spacer {
    padding: 5px;
}

.examples,
.helpLink,
.applyButton button {
    font-family: Arial, serif;
    font-size: 14px;
}

.examples {
    border: none;
    border-top: #ececec solid 1px;
    border-right: #ececec solid 1px;
    padding-left: 1em;
    margin-left: 0;
    background-color: white;
    color: rgba(0, 60, 136, 0.7);
}

.examples option {
    background-color: white;
    color: rgba(0, 60, 136, 0.7);
}

/* show disabled button while route calculation */
.applyButtonProgress button,
.applyButtonInvalid button {
    cursor: default !important;
    color: lightgray !important;
}

.infiniteProgressBar {
    animation: progress 4s infinite normal;
    height: 2px;
    margin-top: -2px; /* when visiable it should not occupy space */
    background-color: rgb(65, 121, 0);
}

@keyframes progress {
    0% {
        width: 0;
        margin-left: 0;
    }
    50% {
        width: 100%;
        margin-left: 0;
    }
    100% {
        width: 0;
        margin-left: 100%;
    }
}

.helpLink:hover {
    color: black;
}

.helpLink,
.examples {
    cursor: pointer;
    color: #5b616a;
}

.applyButton button {
    background-color: rgb(65, 121, 0, 0.1);
}

.applyButton button,
.helpLink  {
    padding: 0.8em 1.7em;
}

