.CodeMirror {
    resize: horizontal;

    /* See #333, avoid that the resize button can be used to decrease the space -> on mobile the button just
       disappears if too narrow. But does not seem to work on Android and isn't supported on iOS anyway. */
    min-width: 26rem;
}

.cm-s-default .cm-string {
    color: #067d17;
}

.cm-s-default .cm-property {
    color: #871094;
}

.cm-s-default .cm-number {
    color: #1750eb;
}

.cm-s-default .cm-atom {
    color: #0033b3;
}
