@media (prefers-color-scheme: dark) {
    .customModelBox.CodeMirror {
        background-color: red !important;
    }
}

.cm-s-default .cm-string {
    color: #067D17 !important;
}

.cm-s-default .cm-property {
    color: #871094 !important;
}

.cm-s-default .cm-number {
    color: #1750EB !important;
}

.cm-s-default .cm-atom {
    color: #0033B3 !important;
}
