.errorMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f97777;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.errorMessage {
    word-break: break-word;
    max-width: 90%;
}

.errorMessageCloseBtn {
    width: 0.8rem;
    color: white;
    align-self: flex-start;
    flex-shrink: 0;
}

.errorMessageCloseBtn svg {
    width: 100%;
}