.errorMessageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f97777;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.errorMessage {
    font-size: smaller;
    word-break: break-word;
    max-width: 90%;
    user-select: all;
}

.errorMessageCloseBtn {
    height: 12px;
    width: 12px;
    align-self: flex-start;
}

.errorMessageCloseBtn svg:hover {
    fill: black;
}

.errorMessageCloseBtn svg {
    fill: #444444;
    width: 12px;
    height: 12px;
}
