.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background {
    pointer-events: all; /* we want all the content to behave normally*/
    background-color: white;
}

.fullHeight {
    height: 100%;
}

.addressSearch {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
}

.addressInputContainer {
    flex-grow: 1;
}

.mapView {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mapViewRow {
    display: flex;
    flex-direction: row;
}

.queryPointText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #5b616a;
}

.queryPointTextTo {
    font-size: large;
    font-weight: bold;
    color: inherit;
}

.queryPointTextVia {
    font-size: small;
}

.markerContainer {
    align-self: center;
    justify-self: center;
    width: 0.6rem;
    margin-right: 0.5rem;
    flex-shrink: 0;
}

.markerContainer > svg {
    width: 100%;
    height: 100%;
    display: block;
}

.btnCloseContainer {
    display: flex;
    flex-direction: column;
}

.btnCloseInputs svg {
    width: 34px;
    color: #adadad;
}

.btnCloseInputs {
    z-index: 0; /* without it the button isn't clickable */
    position: absolute;
    top: 10px;
    right: 1px;
}

.btnOpenContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.25rem 0.5rem;
    border: 1px black solid;
    margin: 0.5rem;
    border-radius: 0.2rem;
}

.btnOpenContainer .mapView {
    width: calc(100% - 34px);
}

.btnOpenInputs svg {
    color: #adadad;
}

.btnOpenInputs {
    width: 34px;
}
