.poweredByContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding: 0.1rem;
    font-size: x-small;
}

.logoContainer {
    width: 7rem;
    display: flex;
}
