.poweredByContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    padding-top: 1.5em;
    font-size: x-small;
}

@media (max-width: 44rem) {
    .poweredByContainer {
        padding: 0.1rem;
    }
}

.logoContainer {
    width: 7rem;
    display: flex;
}
