.resultRow {
    display: flex;
    flex-direction: column;

    border-bottom: 1px lightgray solid;
}

.resultSelectableArea {
    padding: 1rem 0;
    border-left: white solid 0.25rem;
}

.resultSelectableArea:hover .resultSummary {
    border-left: lightgray solid 0.25rem;
    padding: 0 1rem 0 15px;
}

.resultSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 15px;
    border-left: white solid 0.25rem;
}

.selectedResultSummary {
    border-left: #275dad solid 0.25rem !important;
    padding: 0 1rem 0 15px;
}

.resultValues {
    cursor: pointer;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.resultMainText {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.resultSecondaryText,
.exportButton div,
.elevationHint {
    color: #5b616a;
}

.resultTertiaryText {
    color: #5b616a;
    font-size: 12px;
}

.exportButton {
    width: 7em;
    padding-left: 1em;
    padding-top: 1px; /* correction for "height: auto" of svg */
}

.detailsButton {
    width: 5em;
    padding-left: 0.5em;
    padding-top: 1px; /* correction for "height: auto" of svg  */
}

.detailsButton div,
.detailsButtonExpanded div,
.exportButton div {
    color: #5b616a;
    font-size: 12px;
    float: left;
    padding-top: 0.15em;
    padding-left: 0.5em;
}

.detailsButton svg,
.detailsButtonExpanded svg,
.exportButton svg {
    float: left;
    width: 1.2em;
    height: auto;
}

.exportButton:active div,
.detailsButton:active div,
.detailsButtonExpanded:active div {
    color: lightgray;
}

.detailsButton:active svg path,
.exportButton:active svg path,
.detailsButtonExpanded:active svg path {
    fill: lightgray;
}

.exportButton:hover div,
.detailsButton:hover div,
.detailsButtonExpanded:hover div {
    color: black;
}

.detailsButton:hover svg path,
.exportButton:hover svg path,
.detailsButtonExpanded:hover svg path {
    fill: black;
}

.detailsButton svg path,
.exportButton svg path {
    fill: #5b616a;
    stroke: #5b616a;
}

.placeholderContainer {
    margin: 1.08rem 1rem;
}

.placeholderMain {
    height: 1.25rem;
    width: 7rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.placeholderSecondary {
    height: 1rem;
    width: 5rem;
    margin-bottom: 0;
    animation-delay: 0.25s;
}

@keyframes pulse {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.routeHints div {
    padding: 0 1.5em 0.2em 1.4em;
}

.routeHints div {
    font-size: small;
    color: #f97777;
}

.routeHints {
    padding-bottom: 1em;
}
