.resultRow {
    border-bottom: 1px lightgray solid;
}

.resultSelectableArea {
    padding: 1rem 0;
    border-left: white solid 0.25rem;
}

.resultSelectableArea:hover .resultSummary {
    border-left: rgba(201, 217, 241, 0.7) solid 0.25rem;
    padding: 0 1rem 0 15px;
}

.resultSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 15px;
    border-left: white solid 0.25rem;
}

.selectedResultSummary {
    border-left: rgba(39, 100, 200, 0.85) solid 0.25rem !important;
    padding: 0 1rem 0 15px;
}

.resultValues {
    cursor: pointer;
    width: 50%;

    display: flex;
    flex-direction: column;
}

.resultMainText {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.resultSecondaryText,
.exportButton div,
.elevationHint {
    color: #5b616a;
}

.resultTertiaryText {
    color: #5b616a;
    font-size: 12px;
}

.detailsButton,
.exportButton {
    padding-top: 1px; /* correction for "height: auto" of svg  */
}

.detailsButton div,
.detailsButtonExpanded div,
.exportButton div {
    color: #5b616a;
    font-size: 12px;
    float: left;
    padding-top: 0.15em;
    padding-left: 0.5em;
}

.detailsButton svg,
.detailsButtonExpanded svg,
.exportButton svg {
    float: left;
    width: 1.2em;
    height: auto;
}

.exportButton:active div,
.detailsButton:active div,
.detailsButtonExpanded:active div {
    color: lightgray;
}

.detailsButton:active svg path,
.exportButton:active svg path,
.detailsButtonExpanded:active svg path {
    fill: lightgray;
}

.exportButton:hover div,
.detailsButton:hover div,
.detailsButtonExpanded:hover div {
    color: black;
}

.detailsButton:hover svg path,
.exportButton:hover svg path,
.detailsButtonExpanded:hover svg path {
    fill: black;
}

.detailsButton svg path,
.exportButton svg path {
    fill: #5b616a;
    stroke: #5b616a;
}

.placeholderContainer {
    margin: 1.08rem 1rem;
}

.placeholderMain {
    height: 1.25rem;
    width: 7rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.placeholderSecondary {
    height: 1rem;
    width: 5rem;
    margin-bottom: 0;
    animation-delay: 0.25s;
}

@keyframes pulse {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.routeHints div {
    padding: 0 1.5em 0.2em 1.4em;
}

.routeHints div {
    font-size: small;
    color: #383838;
}

.routeHints {
    margin-top: -0.3rem;
    padding-bottom: 0.2em;
}

.routeHints .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8px;
    padding-bottom: 0.5rem;
}

.routeHintButton span,
.selectedRouteHintButton span {
    font-size: xx-small;
}

.routeHintButton,
.selectedRouteHintButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    padding: 2px 4px;
    border: 1px solid transparent; /* make border visible on hover or for selected */
    transition: border-color 0.5s ease;
}

.routeHintButton:hover {
    border-color: #bebebe;
}

.routeHintButton:hover,
.selectedRouteHintButton:hover,
.routeHintButton:hover span {
    color: black;
}

.redButton {
    color: red !important;
}

.orangeButton {
    color: orange !important;
}

.routeHintButton,
.routeHintButton span {
    color: gray;
    padding-top: 1px;
}

.selectedRouteHintButton,
.selectedRouteHintButton span {
    color: #383838;
    padding-top: 1px;
    border-color: #d5d4d4;
}

.instructionsToggle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 1.5rem 0 1.4em;
    font-size: 14px;
    color: #5b616a;
    cursor: pointer;
    line-height: 1.5;
    width: 100%;
    text-align: left;
}

.instructionsToggle:hover {
    color: #383838;
}

.instructionsToggleArrow {
    font-size: 15px;
    color: #999;
    flex-shrink: 0;
    margin-left: 0.5em;
}

.instructionsToggleLabel {
    font-weight: 600;
    color: #383838;
}

.routingResultRoadData {
    color: gray;
    font-size: small;
    padding: 10px 5px 10px 3rem;
}
