.settingsTable {
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 1.3rem;
    align-content: center;
    align-items: center;
    margin: 1.5rem 0.5rem 0.5rem 0.5rem;
}

.settingsTable svg {
    scale: 80%;
}
