.parent {
    margin-top: 15px;
    padding: 15px 5px 10px 5px;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
}

.settingsTable {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
    margin: 0.2rem 0.5rem 1.5rem 0;
}

.settingsTable svg {
    scale: 0.7;
    margin-left: calc(-8px); /* scaling svg creates white space around it */
}

.settingsToggle {
    display: grid;
    grid-template-columns: 50px auto;
    align-content: flex-start;
    align-items: center;
}

.toggleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.settingsCheckboxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    height: 2rem;
}

.settingsCheckbox label {
    padding-left: 3px;
}

.settingsCheckbox:hover label,
.settingsCheckbox:hover input {
    cursor: pointer;
}

.infoLine {
    padding: 10px 2px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoLine a {
    color: gray;
    text-decoration: none;
}

.infoLine a:hover {
    color: black;
}

.title {
    font-weight: bold;
}

.title,
.infoLine,
.settingsTable {
    font-size: 14px;
    color: gray;
}
