.sidebar {
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 2 * 0.5rem);

    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem;

    pointer-events: all; /* we want all the content to behave normally*/
}

@media screen and (max-width: 44rem) {
    .sidebar {
        margin: 0;
        max-height: 100%;
        border-radius: 0;
    }
}