.layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 50rem;
    width: 100%;
    background-color: white;
    margin: 0 0.5rem 1.5rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1)
}

.heightgraphContainer {
    width: 100%;
    height: 14rem;
}