.instructionsList {
}

.instruction {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 3rem auto;
    align-items: center;
    cursor: pointer;
}

.sign {
    grid-row: 1 / span 2;
    justify-self: center;
    align-self: center;
    height: 1.5rem;
}

.sign > svg {
    width: 100%;
    height: 100%;
    display: block;
}

.mainText {
    margin-top: 1rem;
}

.motorwayJunction {
    font-weight: bold;
    font-size: smaller;
    color: white;
    width: fit-content;
    margin: 3px 0;
    padding: 5px;
    border-radius: 3px;
}

.distance {
    grid-column: 2 / span 1;
    font-size: small;
    color: #5b616a;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
}
