.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 11em;
}

button.entry div {
    margin-bottom: 2px;
    padding-right: 8px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

.entry {
    display: flex;
    align-items: center;

    border: none;
    background: none;
    color: black;
    text-align: left;
    cursor: pointer;
    outline: inherit;
    font-size: 16px;
    padding: 0.4em 0.4em;
}

.entry:hover {
    background-color: #ececec;
}

.entry:active {
    background-color: #c6c6c6;
}

.entry:disabled {
    color: lightgray;
}
