.contextMenu {
    z-index: 3;
}

.mapContainer {
    height: 100%;
    width: 100%;
}

.customScale {
    position: absolute;
    bottom: 18px;
    padding: 2px;
    background: var(--ol-partial-background-color);
}

.customScale-inner {
    border: 1px solid gray;
    border-top: none;
    font-size: 10px;
    text-align: center;
    margin: 1px;
}

.customZoom {
    right: 17px;
    top: 115px;
}

@media (max-width: 44rem) {
    .customZoom {
        top: unset;
        bottom: 0.5em;
    }

    .customScale {
        display: none;
    }
}

/* changing the position of the attribution is a bit complex as we have to repeat the other css */
.customAttribution {
    left: 0;
    bottom: 0;
    padding: 1px 5px;
    background: var(--ol-partial-background-color);
    border-radius: 0 4px 0 0;
}

.customAttribution ul {
    font-size: 12px;
}

.customAttribution a {
    padding-right: 3px;
    color: rgba(0, 60, 136, 0.7);
    text-decoration: none;
}

.customAttribution button {
    display: none;
}
