.mapOptionsContainer {
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.layerButton {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.7rem;
}

.layerButton svg {
    width: 100%;
    display: block;
}
