.mapOptionsContainer {
    display: flex;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.option {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.layerButton {
    margin: 5px 0 5px 6px !important;
    width: 32px;
    height: 32px;
}

.layerButton svg {
    color: gray;
    height: 100%;
    width: 100%;
}
