.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 11em;
}

button.entry div {
    margin-top: 1px;
    padding-right: 8px;
}

.entry {
    border: none;
    background: none;
    font: inherit;
    text-align: left;
    cursor: pointer;
    outline: inherit;
    font-size: 14px;
    padding: 5px 22px 5px 17px;
}

.closeBtn:hover {
    cursor: pointer;
    color: black;
}
.closeBtn {
    color: gray;
}
.closeBtn,
.closeBtn:hover {
    border: none;
    background: none;
    position: absolute;
    top: 0.2em;
    right: 0.2em;

    width: 20px;
    align-self: flex-start;
    flex-shrink: 0;
}

.closeBtn svg {
    width: 100%;
}

hr {
    border: 1px solid lightgray;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.entry:hover {
    background-color: #ececec;
}

.entry:active {
    background-color: #c6c6c6;
}

.entry:disabled {
    color: lightgray;
}
