.turnInfo {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.turnSign img {
    max-height: 2rem;
}
.turnSign {
    font-size: smaller;
    min-width: 20%;
    flex-direction: column;
}

.turnText {
    padding: 0.5rem;
    flex-direction: column;
}

.arrival div {
    padding: 0.5rem;
}
.arrival {
    display: flex;
    flex-direction: row;
    font-size: larger;
}

.arrival_date {
    font-weight: bold;
}
