.turnInfo {
    font-size: 20px;
    display: flex;
    padding: 0.5rem;
}

.turnInfoRightSide {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.turnSign img {
    padding-top: 0.4rem;
    height: 3.5rem;
}

.turnSign {
    padding-left: 0.3rem;
    min-width: 25%;
    flex-direction: column;
    font-weight: bold;
}

.arrival .remainingDistance {
    color: gray;
    padding-top: 10px;
    padding-bottom: 3px;
    float: right;
}

.arrival {
    display: flex;
    font-size: larger;
    flex-direction: row;
    justify-content: space-between;
}

.arrival svg {
    padding-left: 22px;
    padding-right: 22px;
}

.arrivalDuration {

}

.debug {
    font-size: x-small;
    float: right;
}

.thirdCol img {
    max-height: 20px;
}

.details  {

}

.maxSpeed {
    padding: 7px;
    margin-left: 15px;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid rgba(255, 0, 0, 0.6); /* red */
}

