.turnInfo {
    display: flex;
    padding: 0.5rem;
}

.turnSign img {
    max-height: 2.5rem;
}

.turnSign {
    padding-left: 0.3rem;
    font-size: smaller;
    min-width: 20%;
    flex-direction: column;
    font-weight: bold;
}

.turnText {
    padding: 0.5rem 0.8rem;
}

.arrival {
    width: 100%;
    display: flex;
    font-size: larger;
    flex-direction: row;
    justify-content: space-between;
}

.arrivalDuration {
    font-weight: bold;
}

.arrivalTime {
    padding-left: 1rem;
}

.endnavicon img {
    max-height: 20px;
}
