.profilesParent {
    display: flex;
    flex-direction: row;
    padding: 0.7em 0 0.1em 0;
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0 2rem;
    box-sizing: border-box;
}

.profiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: scroll;
    gap: 0.1rem;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
}

.profiles_center {
    justify-content: center;
}

.chevron {
    cursor: pointer;
    display: none;
}

.enabled {
    display: inline-block;
}

.chevron svg path {
    fill: #000000;
}

.chevron:disabled svg path {
    fill: lightgray;
}

.flip {
    transform: scaleX(-1);
}

.selectedProfile {
    background-color: rgba(39, 93, 173, 0.2);
    color: #275dad;
}

.selectedProfile:hover {
    color: #275dad;
}

.profileBtn {
    position: relative;
    border-radius: 50%;
    padding: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.iconContainer {
    position: relative;
}

.batchNumber {
    position: absolute;
    top: -7.1px;
    right: -5px;
    font-size: 0.75em;
    font-weight: bold;
    -webkit-text-stroke: 2px #fff;
    paint-order: stroke fill;
}

.asIndicator {
    position: absolute;
    fill: none;
    stroke: #193b6e;
    left: -20px;
    top: -41px;
    z-index: 1;
    scale: 0.1;
}

.enabledCMBox,
.cmBox {
    position: absolute;
    border-radius: 50%;
}

.enabledCMBox svg path,
.cmBox svg path {
    fill: #a8a8a8;
    stroke: #a8a8a8;
}

.enabledCMBox:active svg path,
.cmBox:active svg path {
    fill: lightgray;
    stroke: lightgray;
}

.cmBox:hover svg path,
.enabledCMBox:hover svg path {
    fill: #000000;
    stroke: #000000;
}

.cmBox:active svg path,
.enabledCMBox:active svg path {
    fill: lightgray;
    stroke: lightgray;
}

.enabledCMBox svg,
.cmBox svg {
    margin: 0;
    padding: 8px;
    width: 18px;
    height: 18px;
}

.cmBox svg {
    transform: rotate(0);
    animation-name: reverse_rotate;
    animation-duration: 0.2s;
}

.enabledCMBox svg {
    transform: rotate(180deg);
    animation-name: setting_rotate;
    animation-duration: 0.2s;
}

@keyframes setting_rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(180deg);
    }
}

@keyframes reverse_rotate {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}
