.profiles {
    grid-column: 2 / span 2;
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    overflow-y: hidden;
}

.profile {
    display: grid;
    justify-content: center;
    align-items: center;
}

.selectedProfile {
    background-color: rgba(39, 93, 173, 0.2);
    color: #275dad;
}

.profileBtn {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    padding: 0.3rem;
}
