.profiles {
    grid-column: 1 / span 4;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.1em 0 0.1em 0.1em;
}

.profile:first-child {
    margin-left: auto;
}

.profile:last-child {
    margin-right: auto;
}

.selectedProfile {
    background-color: rgba(39, 93, 173, 0.2);
    color: #275dad;
}

.selectedProfile:hover {
    color: #275dad;
}

.profileBtn {
    border-radius: 50%;
    padding: 0.45rem;
    outline-color: #368fe8; /* doesn't work for firefox? force blue for chrome too */
}
