.appWrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25rem auto auto;
    grid-template-rows: 100%;
    justify-content: space-between;
}
.map {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;

    background-color: transparent;
    z-index: 500;
    pointer-events: none; /* let the user click on the map where the sidebar is transparent */
}

.sidebarContent {
    /* TODO: move the layout into the component themselves*/
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 2 * 0.5rem);

    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 0.1rem;

    pointer-events: all; /* we want all the content to behave normally*/
}

.mapOptions {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    z-index: 400;
    pointer-events: none; /* let the user click on the map where the sidebar is transparent */
}

.mapOptionsContent {
    display: flex;
    margin: 0.5rem;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 0.1rem;

    pointer-events: all; /* we want all the content to behave normally*/
}

@media screen and (max-width: 44rem) {
    .appWrapper {
        grid-template-columns: 1fr auto;
        grid-template-rows: 100%;
    }

    .map {
        grid-row: 1 / span 1;
    }

    .sidebar {
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }

    .mapOptions {
        grid-row: 1 / span 1;
        grid-column: 2 / span 1;
        /* this has to be solved differently when small screen layouts are attempted in #44 */
        align-self: end;
        margin-bottom: 2rem;
    }

    .sidebarContent {
        margin: 0;
        max-height: 100%;
        border-radius: 0;
    }
}
