.appWrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 25rem 1fr auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none; /* firefox does not ignore -webkit-user-select so make this explicit, see #217 */
}

.map {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
    align-self: stretch;
}

.popupContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
    align-self: stretch;

    margin: 0 0.5rem 0 0.5rem;
    overflow: hidden;
    position: relative;
}

.sidebarContent {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    max-height: calc(100% - 2rem);
    margin: 0.5rem;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: all;
    overflow: auto;
}

.mapOptions {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    align-self: start;
    z-index: 1;
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.pathDetails {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    z-index: 1;
    align-self: end;
    overflow: hidden; /* This is important to make the heightgraph shrink */
    margin: 0 0.5rem 1.5rem 0;
    pointer-events: none;
}

.smallScreenMap {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

.smallScreenSidebar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 3;
}

.smallScreenMapOptions {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
}

.smallScreenMapOptionsContent {
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    pointer-events: all;
}

.smallScreenRoutingResult {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    z-index: 2;
    background-color: white;
}

.smallScreenPoweredBy {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 2;
}

@media (max-width: 44rem) {
    .appWrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto 0 1fr auto auto;
    }
}

/* mapilion */
@font-face {
    font-family: 'Open Sans';
    /*src: url(https://tiles.mapilion.com/fonts/Open%20Sans%20Regular/0-255.pbf?key=API_KEY) format('truetype');*/
}

/* maptiler */
@font-face {
    font-family: 'Noto Sans';
}

@font-face {
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto Condensed';
}
