.appWrapper {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 26rem 1fr auto;
    grid-template-rows: 100%;
    justify-content: space-between;
    overflow: auto;
    -webkit-user-select: none;
    user-select: none; /* firefox does not ignore -webkit-user-select so make this explicit, see #217 */
}

.map {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
}

.sidebar {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 1;
    align-self: stretch;
}

.popupContainer {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
    align-self: stretch;

    margin: 0 0.5rem 0 0.5rem;
    overflow: hidden;
    position: relative;
}

.sidebarContent {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: white;
    max-height: calc(100% - 2rem);
    margin: 0.5rem;

    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: all;
    overflow: auto;
}

.onMapRightSide {
    position: relative;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    z-index: 1;

    padding: 0.5rem;
}

.onMapRightSide > div {
    cursor: pointer !important;
}

.onMapRightSide > div {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.pathDetails {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    z-index: 1;
    align-self: end;
    overflow: hidden; /* This is important to make the heightgraph shrink */
    margin: 0;
    pointer-events: none;
}

.smallScreenMap {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

.smallScreenSidebar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 3;
}

.smallScreenMapOptions {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    justify-self: end;
}

.onMapRightSide > div {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.smallScreenRoutingResult {
    grid-row: 4 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    z-index: 2;
    background-color: white;
}

.smallScreenPoweredBy {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    margin: 0;
    border-radius: 0;
    z-index: 2;
}

@media (max-width: 44rem) {
    .appWrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto 0 1fr auto auto;
    }
}

/* mapilion */
@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-Variable.ttf) format('truetype');
}

/* maptiler */
@font-face {
    font-family: 'Noto Sans';
    src: url(./fonts/NotoSans-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url(./fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

.sidebarCloseButton {
    position: absolute;

    color: lightgray !important; /* unsure why !important is necessary here but not in ErrorMessage.module.css for same <Cross/> */

    height: 10px;
    width: 10px;

    right: 7px;
    top: 6px;
}

.sidebarCloseButton:hover {
    color: black !important;
}

.sidebarWhenClosed {
    z-index: 1;
    position: absolute;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 0.25em;
    margin: 0.5em;
}

.sidebarOpenButton svg {
    fill: gray;

    width: 30px;
    height: 24px;
}

.sidebarOpenButton:hover svg {
    fill: black;
}
