.button {
    outline-color: #368fe8; /* doesn't work for firefox? force blue for chrome too */
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
    color: #5b616a;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
    color: #2a2b31;
}

.button:active {
    color: lightgray;
}
