.searchBoxContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.searchBox {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.searchBoxScrollable {
    overflow-y: auto;
    overflow-x: hidden;
}

.searchBoxInput {
    height: 2rem;
    font-size: 1rem;
    flex-grow: 1;
}

.removeSearchBox {
    align-self: stretch;
}

.dot {
    border-radius: 0.75rem;
    height: 0.75rem;
    width: 0.75rem;
    margin: 0 0.5rem 0 0;
    border: rgb(100, 100, 100) 0.125rem solid;
}

.addDestination {
    align-self: flex-end;
    margin: 0.5rem 0 0 0;
}

.selectableGeocodingEntry {
    display: block;
    width: 100%;

    border: none;
    border-bottom: 1px lightgray solid;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

.selectableGeocodingEntry:hover {
    background-color: lightgray;
}

.selectableGeocodingEntry:active {
    background-color: darkgray;
}

.geocodingEntry {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 0.5rem 0.5rem;
}

.geocodingEntryMain {
    font-weight: bold;
}
