.resultListContainer {
    overflow-y: auto;
}

.resultRow {
    display: flex;
    flex-direction: column;

    border-bottom: 1px lightgray solid;
}

.resultSelectableArea {
    padding: 1rem 0;
}

.resultSelectableArea:hover {
    background-color: #ececec;
}

.resultSelectableArea:active {
    background-color: #c6c6c6;
}

.resultSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}

.selectedResultSummary {
    border-left: #275dad solid 0.25rem;
    padding: 0 0.5rem 0 0.75rem;
}

.resultValues {
    display: flex;
    flex-direction: column;
}

.resultMainText {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.resultSecondaryText {
    color: #5b616a;
}

.instructionsList {
    margin: 1rem 0.5rem 0 0.5rem;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
