.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.serachBox {
    display: flex;
    flex-direction: column;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}