.resultListContainer {
    overflow-y: auto;
}

.resultList {
    margin: 0 0.5rem;
}

.resultRow {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.resultSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resultValues {
    display: flex;
    flex-direction: column;
}

.instructionsList {
    margin: 1rem 0 0 0;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}