name: Push dist to npm
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    if: github.repository_owner == 'graphhopper'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: v24.12.0

      - name: Build

        run: |
          npm --version
          echo "OIDC token: $ACTIONS_ID_TOKEN_REQUEST_TOKEN"
          npm whoami
          npm version --git-tag-version=false 0.0.0-$(git rev-parse HEAD)
          # limit distribution to the dist folder (just for this build), and set package name
          node -e "const packageJson=require('./package.json'); packageJson.files=['dist/']; packageJson.name='@graphhopper/graphhopper-maps-bundle'; require('fs').writeFileSync('package.json', JSON.stringify(packageJson, null, 4));"
          npm ci
          npm run build
          # no dependencies or scripts in package.json (they should not be installed when installing the package, because they are all included in the bundle already)
          node -e "const packageJson=require('./package.json'); packageJson.scripts={}; packageJson.dependencies={}; packageJson.devDependencies={}; require('fs').writeFileSync('package.json', JSON.stringify(packageJson, null, 4));"
          # we need to set the access to public, because organization scoped packages are private by default
          npm publish --access public
